<style>
  .award {
    display: block;
    margin-bottom: 10px;
    width: 80%;
    text-align: left;
  }
</style>
<aside>
	<div class="award">
  	<img class="b30" src="/images/logo/sensors.jpg">
  	<img class="b30" src="/images/logo/scopus.jpg">
  	<img class="b30" src="/images/logo/CIE.jpg">
  	<img class="b30" src="/images/logo/CESE.jpg">
  	<img class="b30" src="/images/logo/co100.jpg">
  	<img class="b30" src="/images/logo/icanx.jpg">
  	<img class="b30" src="/images/logo/MRS.jpg">
  	<img class="b30" src="/images/logo/man2017.jpg">
  	<img class="b30" src="/images/logo/imt.jpg">
  	<img class="b30" src="/images/logo/sanxing.jpg">
  </div>
  </center>
</aside>