<aside>
	<center><h3>Journal Covers</h3></center>
  <img class="b30" src="/images/cover/jihong-nel-cover.png">
  <img class="b30" src="/images/cover/ehsan-sa-back.jpg">
  <img class="b30" src="/images/cover/yy-sr-2-cover.jpg">
  <img class="b30" src="/images/cover/mq-nbme-cover.jpg">
  <img class="b30" src="/images/cover/wiley-thesis-cover.jpg">
  <img class="b30" src="/images/cover/nbt-caltech-cover.jpg">
  <img class="b30" src="/images/cover/wiley-cover-1.jpg">
  <img class="b30" src="/images/cover/cxx-ne-cover.jpg">
  <img class="b30" src="/images/cover/apl-cover.jpg">
</aside>